In [1]:
import pandas as pd
import numpy as np

In [4]:
df_category = pd.read_csv("../data/category_tree.csv")
df_events = pd.read_csv("../data/events.csv")
df_items_1 = pd.read_csv("../data/item_properties_part1.csv")
df_items_2 = pd.read_csv("../data/item_properties_part2.csv")

In [5]:
def dataset_overview(df, name):
    print(f"üìä Dataset : {name}")
    display(df.head())
    print("Shape :", df.shape)
    print("\nTypes :")
    display(df.dtypes)
    print("\nValeurs manquantes :")
    display(df.isna().sum())
    print("\nValeurs dupliqu√©es :", df.duplicated().sum())

In [6]:
dataset_overview(df_category, "category_tree")

# nombre de cat√©gories pr√©sence de hi√©rarchie (parent_id) cl√© : categoryid

üìä Dataset : category_tree

   categoryid  parentid
0        1016     213.0
1         809     169.0
2         570       9.0
3        1691     885.0
4         536    1691.0

Shape : (1669, 2)

Types :

categoryid      int64
parentid      float64
dtype: object

Valeurs manquantes :

categoryid     0
parentid      25
dtype: int64

Valeurs dupliqu√©es : 0

In [7]:
dataset_overview(df_events, "events")

# volume tr√®s important types d‚Äô√©v√©nements (view, addtocart, transaction) cl√©s : visitorid, itemid

üìä Dataset : events

       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908            NaN
1  1433224214164     992329  view  248676            NaN
2  1433221999827     111016  view  318965            NaN
3  1433221955914     483717  view  253185            NaN
4  1433221337106     951259  view  367447            NaN

Shape : (2756101, 5)

Types :

timestamp          int64
visitorid          int64
event             object
itemid             int64
transactionid    float64
dtype: object

Valeurs manquantes :

timestamp              0
visitorid              0
event                  0
itemid                 0
transactionid    2733644
dtype: int64

Valeurs dupliqu√©es : 460

In [8]:
dataset_overview(df_items_1, "item_properties_part1")
dataset_overview(df_items_2, "item_properties_part2")

# √Ä commenter :structure identique n√©cessit√© de concat√©ner cl√© : itemid

üìä Dataset : item_properties_part1

       timestamp  itemid    property                            value
0  1435460400000  460429  categoryid                             1338
1  1441508400000  206783         888          1116713 960601 n277.200
2  1439089200000  395014         400  n552.000 639502 n720.000 424566
3  1431226800000   59481         790                       n15360.000
4  1431831600000  156781         917                           828513

Shape : (10999999, 4)

Types :

timestamp     int64
itemid        int64
property     object
value        object
dtype: object

Valeurs manquantes :

timestamp    0
itemid       0
property     0
value        0
dtype: int64

Valeurs dupliqu√©es : 0
üìä Dataset : item_properties_part2

       timestamp  itemid property            value
0  1433041200000  183478      561           769062
1  1439694000000  132256      976  n26.400 1135780
2  1435460400000  420307      921  1149317 1257525
3  1431831600000  403324      917          1204143
4  1435460400000  230701      521           769062

Shape : (9275903, 4)

Types :

timestamp     int64
itemid        int64
property     object
value        object
dtype: object

Valeurs manquantes :

timestamp    0
itemid       0
property     0
value        0
dtype: int64

Valeurs dupliqu√©es : 0

In [9]:
df_events['itemid'].nunique()
df_items_1['itemid'].nunique()

set(df_events['itemid']).intersection(set(df_items_1['itemid']))

# √Ä expliquer : coh√©rence des cl√©s couverture des items

{3,
 4,
 6,
 15,
 16,
 17,
 19,
 22,
 24,
 25,
 26,
 29,
 32,
 33,
 40,
 41,
 42,
 49,
 54,
 55,
 56,
 58,
 59,
 60,
 65,
 66,
 68,
 71,
 73,
 75,
 77,
 78,
 80,
 87,
 88,
 90,
 91,
 92,
 93,
 95,
 98,
 102,
 105,
 106,
 108,
 112,
 117,
 118,
 119,
 123,
 125,
 130,
 133,
 134,
 135,
 137,
 138,
 139,
 142,
 143,
 144,
 147,
 151,
 152,
 153,
 154,
 155,
 160,
 162,
 163,
 165,
 168,
 170,
 174,
 175,
 181,
 185,
 189,
 190,
 193,
 195,
 199,
 204,
 207,
 210,
 211,
 212,
 216,
 217,
 218,
 219,
 221,
 225,
 227,
 228,
 232,
 233,
 234,
 235,
 241,
 243,
 244,
 247,
 250,
 251,
 252,
 257,
 259,
 260,
 261,
 263,
 274,
 278,
 289,
 292,
 295,
 299,
 300,
 301,
 303,
 304,
 305,
 307,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 320,
 321,
 324,
 325,
 326,
 329,
 333,
 334,
 337,
 339,
 340,
 342,
 343,
 348,
 349,
 350,
 352,
 354,
 361,
 362,
 363,
 364,
 369,
 371,
 374,
 375,
 376,
 377,
 379,
 381,
 382,
 387,
 388,
 391,
 393,
 394,
 396,
 402,
 403,
 404,
 405,
 406,
 409,
 410,
 412,
 415,
 420,
 425,
 428,
 433,
 434,
 441,
 447,
 448,
 452,
 456,
 460,
 461,
 464,
 465,
 466,
 470,
 474,
 476,
 477,
 480,
 481,
 482,
 484,
 485,
 490,
 492,
 493,
 494,
 495,
 496,
 498,
 502,
 504,
 506,
 508,
 510,
 511,
 512,
 513,
 519,
 523,
 525,
 534,
 535,
 536,
 538,
 542,
 546,
 547,
 549,
 550,
 552,
 554,
 556,
 559,
 560,
 563,
 564,
 565,
 566,
 568,
 572,
 573,
 578,
 587,
 588,
 593,
 594,
 596,
 599,
 602,
 605,
 606,
 609,
 610,
 611,
 613,
 615,
 616,
 617,
 618,
 623,
 625,
 626,
 627,
 630,
 631,
 632,
 633,
 635,
 636,
 638,
 646,
 649,
 650,
 651,
 655,
 656,
 660,
 661,
 662,
 665,
 666,
 667,
 668,
 669,
 671,
 672,
 676,
 677,
 678,
 683,
 689,
 692,
 693,
 696,
 697,
 698,
 703,
 704,
 706,
 708,
 709,
 714,
 719,
 720,
 723,
 724,
 726,
 731,
 733,
 737,
 742,
 743,
 746,
 749,
 754,
 762,
 763,
 764,
 766,
 771,
 776,
 778,
 779,
 780,
 786,
 795,
 797,
 799,
 801,
 802,
 808,
 814,
 818,
 819,
 821,
 822,
 823,
 827,
 829,
 832,
 834,
 835,
 836,
 838,
 839,
 840,
 844,
 845,
 846,
 850,
 851,
 856,
 857,
 860,
 862,
 863,
 867,
 869,
 872,
 874,
 875,
 877,
 882,
 885,
 890,
 907,
 909,
 910,
 911,
 917,
 919,
 928,
 932,
 934,
 942,
 944,
 945,
 946,
 948,
 951,
 955,
 956,
 958,
 960,
 962,
 963,
 964,
 967,
 970,
 971,
 972,
 975,
 976,
 978,
 982,
 983,
 984,
 985,
 986,
 988,
 989,
 991,
 997,
 998,
 1001,
 1003,
 1004,
 1011,
 1013,
 1018,
 1022,
 1027,
 1028,
 1029,
 1030,
 1033,
 1035,
 1038,
 1039,
 1040,
 1044,
 1045,
 1046,
 1049,
 1054,
 1059,
 1062,
 1066,
 1068,
 1069,
 1071,
 1072,
 1073,
 1076,
 1077,
 1079,
 1080,
 1086,
 1087,
 1090,
 1094,
 1096,
 1106,
 1113,
 1114,
 1115,
 1117,
 1118,
 1125,
 1129,
 1131,
 1133,
 1134,
 1140,
 1142,
 1143,
 1145,
 1147,
 1148,
 1149,
 1150,
 1151,
 1152,
 1154,
 1157,
 1160,
 1161,
 1162,
 1164,
 1171,
 1175,
 1179,
 1180,
 1181,
 1183,
 1187,
 1189,
 1196,
 1198,
 1200,
 1205,
 1207,
 1209,
 1211,
 1212,
 1213,
 1214,
 1217,
 1220,
 1221,
 1224,
 1225,
 1227,
 1228,
 1230,
 1232,
 1234,
 1235,
 1246,
 1248,
 1249,
 1255,
 1257,
 1260,
 1261,
 1262,
 1263,
 1265,
 1267,
 1268,
 1270,
 1271,
 1272,
 1278,
 1279,
 1280,
 1283,
 1291,
 1292,
 1297,
 1298,
 1302,
 1303,
 1305,
 1309,
 1310,
 1312,
 1313,
 1317,
 1320,
 1322,
 1323,
 1325,
 1326,
 1328,
 1332,
 1334,
 1342,
 1344,
 1345,
 1346,
 1347,
 1349,
 1352,
 1353,
 1360,
 1361,
 1362,
 1364,
 1370,
 1371,
 1374,
 1375,
 1377,
 1378,
 1380,
 1381,
 1382,
 1384,
 1392,
 1394,
 1398,
 1400,
 1408,
 1413,
 1415,
 1416,
 1423,
 1440,
 1443,
 1447,
 1449,
 1453,
 1454,
 1455,
 1459,
 1464,
 1469,
 1470,
 1473,
 1475,
 1483,
 1489,
 1491,
 1493,
 1494,
 1495,
 1496,
 1503,
 1508,
 1510,
 1516,
 1517,
 1518,
 1519,
 1520,
 1521,
 1527,
 1530,
 1531,
 1536,
 1538,
 1543,
 1545,
 1546,
 1550,
 1551,
 1556,
 1559,
 1560,
 1562,
 1565,
 1566,
 1567,
 1568,
 1572,
 1577,
 1585,
 1586,
 1590,
 1602,
 1605,
 1606,
 1614,
 1616,
 1619,
 1622,
 1623,
 1625,
 1627,
 1628,
 1630,
 1631,
 1632,
 1633,
 1634,
 1636,
 1641,
 1642,
 1644,
 1646,
 1647,
 1653,
 1654,
 1657,
 1658,
 1659,
 1661,
 1664,
 1668,
 1669,
 1670,
 1673,
 1675,
 1676,
 1677,
 1681,
 1682,
 1684,
 1688,
 1689,
 1692,
 1696,
 1697,
 1698,
 1699,
 1700,
 1702,
 1707,
 1709,
 1710,
 1711,
 1713,
 1717,
 1721,
 1724,
 1728,
 1731,
 1734,
 1736,
 1737,
 1738,
 1739,
 1740,
 1745,
 1748,
 1749,
 1750,
 1751,
 1752,
 1757,
 1760,
 1761,
 1762,
 1766,
 1768,
 1773,
 1776,
 1777,
 1779,
 1782,
 1788,
 1793,
 1794,
 1795,
 1799,
 1800,
 1806,
 1807,
 1815,
 1816,
 1819,
 1823,
 1825,
 1826,
 1828,
 1829,
 1831,
 1841,
 1842,
 1845,
 1846,
 1847,
 1848,
 1851,
 1852,
 1857,
 1861,
 1863,
 1868,
 1874,
 1879,
 1880,
 1882,
 1885,
 1886,
 1890,
 1891,
 1892,
 1894,
 1895,
 1896,
 1899,
 1901,
 1902,
 1907,
 1908,
 1909,
 1910,
 1915,
 1918,
 1920,
 1924,
 1930,
 1931,
 1934,
 1936,
 1938,
 1941,
 1945,
 1947,
 1949,
 1952,
 1956,
 1957,
 1959,
 1963,
 1967,
 1969,
 1971,
 1972,
 1975,
 1977,
 1978,
 1981,
 1983,
 1984,
 1985,
 1986,
 1987,
 1989,
 1994,
 1995,
 1998,
 1999,
 2000,
 2002,
 2004,
 2006,
 2009,
 2011,
 2013,
 2018,
 2020,
 2021,
 2029,
 2032,
 2035,
 2036,
 2040,
 2041,
 2042,
 2043,
 2046,
 2047,
 2050,
 2052,
 2055,
 2056,
 2057,
 2060,
 2064,
 2065,
 2071,
 2072,
 2074,
 2076,
 2077,
 2082,
 2085,
 2086,
 2087,
 2089,
 2095,
 2097,
 2099,
 2105,
 2106,
 2109,
 2110,
 2113,
 2114,
 2115,
 2121,
 2127,
 2129,
 2132,
 2134,
 2135,
 2136,
 2138,
 2139,
 2140,
 2142,
 2143,
 2144,
 2145,
 2146,
 2150,
 2151,
 2156,
 2162,
 2165,
 2166,
 2168,
 2169,
 2170,
 2171,
 2175,
 2177,
 2182,
 2185,
 2186,
 2189,
 2196,
 2200,
 2204,
 2205,
 2206,
 2208,
 2212,
 2214,
 2216,
 2221,
 2227,
 2234,
 2235,
 2239,
 2240,
 2245,
 2246,
 2252,
 2253,
 2255,
 2256,
 2262,
 2263,
 2266,
 2270,
 2273,
 2275,
 2276,
 2279,
 2280,
 2283,
 2285,
 2286,
 2288,
 2294,
 2295,
 2301,
 2304,
 2305,
 2307,
 2313,
 2314,
 2319,
 2322,
 2325,
 2327,
 2328,
 2329,
 2331,
 2332,
 2333,
 2334,
 2338,
 2342,
 2348,
 2349,
 2351,
 2352,
 2354,
 2355,
 2357,
 2360,
 2364,
 2365,
 2367,
 2369,
 2370,
 2371,
 2373,
 2374,
 2376,
 2377,
 2381,
 2386,
 2387,
 2388,
 2392,
 2394,
 2395,
 2396,
 2397,
 2398,
 2399,
 2401,
 2405,
 2407,
 2408,
 2410,
 2415,
 2416,
 2420,
 2421,
 2422,
 2424,
 2428,
 2432,
 2433,
 2434,
 2435,
 2436,
 2438,
 2440,
 2444,
 2448,
 2449,
 2450,
 2453,
 2455,
 2456,
 2463,
 2465,
 2467,
 2469,
 2471,
 2472,
 2474,
 2477,
 2491,
 2493,
 2494,
 2496,
 2498,
 2500,
 2502,
 2504,
 2505,
 2509,
 2512,
 2514,
 2517,
 2519,
 2520,
 2521,
 2523,
 2524,
 2526,
 2527,
 ...}

## Conclusion ‚Äì Data Overview

- Les donn√©es proviennent de 4 sources compl√©mentaires
- Les √©v√©nements utilisateurs sont bien reli√©s aux items
- Les propri√©t√©s produits sont r√©parties en deux fichiers √† concat√©ner
- La hi√©rarchie des cat√©gories permet une analyse par niveau

 Les datasets sont exploitables pour une EDA approfondie