# EDA – Items & Product Properties

## Objectif
Ce notebook analyse les données produits :
- item_properties_part1
- item_properties_part2
- category_tree

Les objectifs sont :
- fusionner les propriétés produits
- nettoyer les données
- comprendre les catégories
- produire un dataset produit exploitable

In [1]:
import pandas as pd
import numpy as np

In [4]:
df_items_1 = pd.read_csv("../data/item_properties_part1.csv")
df_items_2 = pd.read_csv("../data/item_properties_part2.csv")
df_category = pd.read_csv("../data/category_tree.csv")

In [5]:
df_items = pd.concat([df_items_1, df_items_2], axis=0)
df_items.shape
df_items.head()

       timestamp  itemid    property                            value
0  1435460400000  460429  categoryid                             1338
1  1441508400000  206783         888          1116713 960601 n277.200
2  1439089200000  395014         400  n552.000 639502 n720.000 424566
3  1431226800000   59481         790                       n15360.000
4  1431831600000  156781         917                           828513

In [6]:
df_items.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20275902 entries, 0 to 9275902
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  int64
 1   itemid     int64
 2   property   object
 3   value      object
dtypes: int64(2), object(2)
memory usage: 773.5+ MB

In [7]:
df_items.isna().sum()
df_items.duplicated().sum()

np.int64(0)

In [8]:
# Focus sur les catégories produits

df_items[df_items['property'] == 'categoryid'].head()

df_item_category = df_items[df_items['property'] == 'categoryid']
df_item_category['value'].nunique()

1242

In [9]:
# les types  de proprietés des items
proprety_type = df_items['property'].value_counts()

print(proprety_type)

property
888           3000398
790           1790516
available     1503639
categoryid     788214
6              631471
               ...
782                 1
288                 1
769                 1
312                 1
1046                1
Name: count, Length: 1104, dtype: int64

In [10]:
df_category.head()

   categoryid  parentid
0        1016     213.0
1         809     169.0
2         570       9.0
3        1691     885.0
4         536    1691.0

In [11]:

# Catégories racines

df_category[df_category['parentid'].isna()]

      categoryid  parentid
5            231       NaN
589          791       NaN
861         1490       NaN
939          431       NaN
1111         755       NaN
1142         378       NaN
1208        1579       NaN
1211        1394       NaN
1322         659       NaN
1329        1057       NaN
1375         859       NaN
1392         803       NaN
1395         250       NaN
1476        1452       NaN
1484        1182       NaN
1490        1692       NaN
1614        1600       NaN
1616        1482       NaN
1622        1224       NaN
1623        1532       NaN
1624         395       NaN
1628         653       NaN
1629         140       NaN
1650        1698       NaN
1657         679       NaN

In [13]:
# Jointure items ↔ catégories


df_item_category = df_item_category.copy()
df_item_category['categoryid'] = df_item_category['value'].astype(int)

print(df_item_category.head())
print(df_item_category.shape)

         timestamp  itemid    property value  categoryid
0    1435460400000  460429  categoryid  1338        1338
140  1432436400000  281245  categoryid  1277        1277
151  1435460400000   35575  categoryid  1059        1059
189  1437274800000    8313  categoryid  1147        1147
197  1437879600000   55102  categoryid    47          47
(788214, 5)

In [14]:
df_item_category = df_item_category.merge(df_category[['categoryid', 'parentid']], on='categoryid', how='left')
print(df_item_category.head())

       timestamp  itemid    property value  categoryid  parentid
0  1435460400000  460429  categoryid  1338        1338    1278.0
1  1432436400000  281245  categoryid  1277        1277     312.0
2  1435460400000   35575  categoryid  1059        1059    1696.0
3  1437274800000    8313  categoryid  1147        1147    1027.0
4  1437879600000   55102  categoryid    47          47     381.0

In [15]:
# sauvegarde du dataframe final
df_item_category.to_csv("../data/df_item_clean.csv", index=False)